#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 2%;
    gap: 15px;
}
#imgp{
    width: 40%;
    height: 50%;
    padding-top: 3%;
    margin-left: 30%;
}
#fundiv{
    height: 480px;
border: 2px solid red;
padding-left: 5%;
border-radius: 5%;

}
#remov{
    margin-left: 35%;
    margin-bottom: 5%;
    padding: 2% 2% 2% 2%;
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 10%;
}
#dash{
    padding: 1% 2% 1% 2%; 
    margin: 2% 0% 0% 5%;
background-color: hotpink;
border-radius: 5%;
color: black;
font-size: medium;
  
}